<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229379796374-raotdjr7lc3slob9tpc181a5cgtnijec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229379796374-raotdjr7lc3slob9tpc181a5cgtnijec</string>
	<key>API_KEY</key>
	<string>AIzaSyBtahIEiNAeD6cYp6wXfZBjEFggHcaOTys</string>
	<key>GCM_SENDER_ID</key>
	<string>229379796374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lpat0007.monash.edu.HomeSecurityAutomation</string>
	<key>PROJECT_ID</key>
	<string>homesecurityautomation-e2064</string>
	<key>STORAGE_BUCKET</key>
	<string>homesecurityautomation-e2064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229379796374:ios:873cec269dd2cdec4441b7</string>
	<key>DATABASE_URL</key>
	<string>https://homesecurityautomation-e2064.firebaseio.com</string>
</dict>
</plist>